.container#content {
  margin-top: 60px;
}
body {
  background-color: $light-gray;
  font-family: $site-font;
}
a {
  color: $white;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: $dark-gray;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: $white;
  &:hover {
    color: #007bff;
  }
}
ul {
  list-style: none;
  padding: 0;
}
.admin-p {
  color: $white;
}
.img-post {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card-post {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.post-terbaru {
  color: $white;
}
